Django>=4.0,<5.0
djangorestframework
requests
gunicorn
psycopg2-binary  # For PostgreSQL
channels         # For Django Channels
redis            # For Django Channels
channels-redis   # For Django Channels