SECRET_KEY=django-insecure-h#t7m@i&=4wq85em)%)z8j7dlj*m)4@9tusb9ugfl58ntfjd)x
DJANGO_DEBUG=True

CLIENT_ID=u-s4t2ud-da24ef20df28e232477906fab1cef244486b986e4500de2e7823304ade8d7ca3
CLIENT_SECRET=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
REDIRECT_URI=http://localhost:8080/api/auth/login

URL_API=http://localhost:8080/api

POSTGRES_DB=mydatabase
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin