<div id="chat">

    <!-- Lista de Usuarios -->
    <div class="user-list" id="chatUserList">
        <h2>Usuarios</h2>
    </div>

    <div class="chat-area">
        <div class="chat-header">
            <h1>Chat</h1>
        </div>
        <div class="chat-messages" id="chatMessages">
            <div class="message">Hola, ¿cómo estás?</div>
            <div class="message my-message">¡Estoy bien, gracias! ¿Y tú?</div>
        </div>
        <div class="chat-input">
            <input class="tc-input" id="messageInput" type="text" value="" placeholder="Escribe un mensaje...">
            <button id="sendButton">Enviar</button>
        </div>
    </div>

</div>
