<div class="d-flex w-100 h-100 justify-content-between">
    <div class="container-pala">
        <div id="leftBar" class="pala"></div>
    </div>
    <div class="d-flex flex-column align-items-center">
        <h1 class="tc-text-primary tc-title text-light">P<span>O</span>NG</h1>
        <div class="container-btns d-flex flex-column ">

            <div class="counter-container">
                <button id="decrement" class="tc-btn">-</button>
                <input type="number" id="matchPoints" value="0" readonly>
                <button id="increment" class="tc-btn">+</button>
            </div>
            <div onclick="" id="playButton" class="tc-btn mt-4"><h1 class="tc-text-primary"><a href="http://127.0.0.1:5500/web/index.html#game" class="text-decoration-none text-dark">PLAY</a></h1></div>
        </div>
    </div>
    <div class="container-pala">
        <div id="rightBar" class="pala"></div>
    </div>
</div>
<script>
    function initScripts() {
        const leftBar = document.getElementById('leftBar');
        const rightBar = document.getElementById('rightBar');
        const playButton = document.getElementById('playButton');

        console.log(playButton);
        console.log("playButton");

        // Agregar la clase de animación al hacer hover en playButton
        playButton.addEventListener('mouseover', () => {
            console.log("mouse in");
            leftBar.classList.add('animate-left-bar');
            rightBar.classList.add('animate-right-bar');
        });

        // Eliminar la clase de animación cuando el hover termina
        playButton.addEventListener('mouseout', () => {
            console.log("mouse out");
            leftBar.classList.remove('animate-left-bar');
            rightBar.classList.remove('animate-right-bar');
        });
    }

    // Llama a esta función después de que el contenido haya sido inyectado
    initScripts();
</script>