<div id="chat">
    <div class="d-flex flex-column user-container">
        <h2 data-translate-key="users"></h2>

        <div class="user-list" id="chatUserList">
        </div>
    </div>

    <div class="chat-area">
        <div class="chat-header ">
            <h1>Chat</h1>
        </div>
        <div class="chat-messages" id="chatMessages">
            <div class="message">Hola, ¿cómo estás?</div>
            <div class="message my-message">¡Estoy bien, gracias! ¿Y tú?</div>
        </div>
        <form id="chatForm" class="chat-form">
            <input class="tc-input w-100" id="messageInput" type="text" value
            data-translate-key="write_message"
            placeholder="Escribe un mensaje...">
            <input id="sendButton" type="submit" class="px-3 tc-btn" value="Enviar" data-translate-key="send"></input>
        </form>
    </div>
</div>
