<div>
    <h1 class="tc-text-primary tc-title text-light">P<span>O</span>NG</h1>
    <div class="counter-container">
        <button id="decrement" class="tc-btn">-</button>
        <input type="number" id="matchPoints" value="0" readonly>
        <button id="increment" class="tc-btn">+</button>
    </div>

    <button id="create_game_submit" data-translate-key="create" class="tc-btn"><b>CREAR</b></button>
    {% comment %} <button id="join_game_submit" data-translate-key="join" class="tc-btn"><b>JOIN</b></button> {% endcomment %}
</div>