<div class="game_settings">

    <div>
        <h1 class="tc-text-primary tc-title text-light">P<span>O</span>NG</h1>
        <div class="d-flex align-items-center flex-column">
            <div onclick="" id="vs_settings_button" class="tc-btn mt-4"><h2 class="tc-text-primary tc-upper" data-translate-key="1vs1">1 VS 1</h2></div>
            <div onclick="" id="tournament_settings_button" class="tc-btn mt-4"><h2 class="tc-text-primary tc-upper" data-translate-key="tournament">TOURNAMENT</h2></div>
        </div>
        
        <p id="status"></p>
    </div>
</div>