<div id="game">
    <div class="header">
        <div class="scores">
            <div class="score">
                <span class="player-name" id="playerName">PlayerNameUnknown</span>
                <span class="score-value" id="playerScore">0</span>
            </div>
            <div class="timer">
                <h4 id="timer-display">02:30</h4>
            </div>
            <div class="score">
                <span class="score-value" id="enamyScore">0</span>
                <span class="player-name" id="enamyName">EnamyNameUnknown</span>
            </div>
        </div>
    </div>

    
    

    <div class="game-container" id="game-container">
        <canvas class="w-100 h-100" id="gameWindow"></canvas>
    </div>
    <div class="overlay" id="overlay">
        <div class="overlay-text"> <span id="overlay-content">Matching</span> <span id="dots"></span></div>
    </div>

</div>

