<div id="game">
    <div class="header">
        <div class="scores">
            <div class="score">
                <span class="player-name" id="playerName">PlayerNameUnknown</span>
                <span class="score-value" id="playerScore">0</span>
            </div>
            <div class="timer">
                <h4 id="timer-display">2:30</h4>
            </div>
            <div class="score">
                <span class="score-value" id="enamyScore">0</span>
                <span class="player-name" id="enamyName">EnamyNameUnknown</span>
            </div>
        </div>
    </div>


    <div class="game-container" id="game-container">
        <canvas id="gameWindow"></canvas>
    </div>

    <div class="tempStartGameButton">
        <button id="pause" class="tc-btn">Start</button>
        <!-- <button id="onlineGameButton">Start online game</button> -->
    </div>
</div>

