<div class="d-flex w-100 h-100 justify-content-between">
    <div class="container-pala">
        <div id="leftBar" class="pala"></div>
    </div>
    <div class="d-flex flex-column align-items-center">
        <h1 class="tc-text-primary tc-title text-light">P<span>O</span>NG</h1>
        <div class="container-btns d-flex flex-column ">
            <div onclick="" id="playButton" class="tc-btn mt-4"><h1 class="tc-text-primary">PLAY</h1></div>
        </div>
    </div>
    <div class="container-pala">
        <div id="rightBar" class="pala"></div>
    </div>
</div>
<script>

</script>