<div class="online">

    <div>
        <h1 class="tc-text-primary tc-title text-light">P<span>O</span>NG</h1>
        <div class="container mt-5">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item tc-nav-item" role="presentation">
                <button class="tc-nav-link active w-100" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab"><b>1 VS 1</b></button>
              </li>
              <li class="nav-item tc-nav-item" role="presentation">
                <button class="tc-nav-link w-100" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab"><b>TOURNAMENT</b></button>
              </li>
            </ul>
          
            <div class="tab-content">
              <div class="tab-pane pt-5 fade show active" id="tab1" role="tabpanel">
                <button id="create_game_button" data-translate-key="new_game" class="tc-btn tc-upper"><b data-translate-key="points">CREAR PARTIDA</b></button>
                <div class="d-flex mt-5 justify-content-center">
                    <div id="gameList"></div>
                </div>
            </div>
              <div class="tab-pane fade pt-5" id="tab2" role="tabpanel">
                <button id="create_tournament_button" class="tc-btn mb-5 tc-upper"><b>CREAR TORNEO</b></button>
                <div id="tournamentList"></div>

                <!-- <div id="tournament" class="tournament-container">
                    <div id="tournaments"></div>
                    <div class="tournament-card">
                        <div class="name">Player 1</div>
                        <div class="vs">VS</div>
                        <div class="name">Player 2</div>
                    </div>
                    
                    <div class="tournament-card">
                        <div class="name">Player 3</div>
                        <div class="vs">VS</div>
                        <div class="name">Player 4</div>
                    </div>
                </div> -->
              </div>
            </div>
          </div>
        
        <p id="status"></p>
    </div>

</div>