<div class="row flex-column h-100 align-items-center">
    <div>
        <h1 class="tc-text-primary tc-title text-light">P<span>O</span>NG</h1>
    </div>
    
    <div id="language-selector" class="language-buttons my-5">
        <button class="tc-btn" data-lang="en">English</button>
        <button class="tc-btn" data-lang="es">Español</button>
        <button class="tc-btn" data-lang="fr">Français</button>
    </div>

    <button id="logout-button" class="tc-btn"><h1 class="tc-text-primary"><b class="tc-upper" data-translate-key="logout">LOG OUT</b></h1></button>
</div>
